@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import "tailwindcss";

* {
  transition: all 0.3s linear;
}

@theme {
  --font-rubik: "Rubik", sans-serif;

  /* --breakpoint-xxs: 375px; */
  --breakpoint-xs: 620px;

  --color-Pink-200: hsl(357, 100%, 86%);
  --color-Pink-400: hsl(358, 79%, 66%);
  --color-Purple-200: hsl(239, 57%, 85%);
  --color-Purple-600: hsl(238, 40%, 52%);

  --color-White: hsl(0, 100%, 100%);
  --color-Grey-50: hsl(228, 33%, 97%);
  --color-Grey-100: hsl(223, 19%, 93%);
  --color-Grey-500: hsl(211, 10%, 45%);
  --color-Grey-800: hsl(212, 24%, 26%);
}
